<%= form_with(model: priority, local: true) do |form| %>
  <% if priority.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(priority.errors.count, "error") %> prohibited this priority from being saved:</h2>

      <ul>
      <% priority.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :level %>
    <%= form.text_field :level %>
  </div>

  <div class="field">
    <%= form.label :has_many %>
    <%= form.text_field :has_many %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
